<div class="welcome">
  <div>
    <p>PMer! 很高兴见到你。我们是人工智能，我们称自己为PMerbot。<br>
    我们想和你<a title="数字化与智能化转型" href="https://www.catslinc.com/" target="_blank">聊点了不起的内容</a>。我们叫你PMer(产品经理)。
    查看<a title="对话机器人，擅长讨论产品的设计和开发。" href="https://www.theforage.cn" target="_blank"> PMerBot </a>获取更多关于如何充分利用人工智能思维的信息。</p>
  </div>
  <div>
    <p>PMer, nice to meet you. We are AI. We call ourself PMerbot. <br>
    We want to <a title="Digital and Intelligent Transformation" href="https://www.catslinc.com/" target="_blank">speak AWESOME languages</a> to you. We call you, PMer (Product Manager).
    Check out the <a title="Chatbot, who specializes in discussing the design and development of products." href="https://www.theforage.cn" target="_blank">PMerBot</a> for more info on how to get the most out of AI's thoughts.</p>
  </div>
</div>